<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="idprocesses_log" value="C:\Filewatcherservice\FILE_LOG\ProcessId.log"/>
		<add key="trans_log" value="C:\Filewatcherservice\FILE_LOG\"/>
		<add key="check_connection_timeout" value="100"/>
		<add key="port_listen" value="1234"/>
		<add key="port_host" value="1235"/>
		<add key="ip_host" value="192.168.1.82"/>
		<add key="reset_err_delay" value="100"/>
	</appSettings>
</configuration>